body {
  display: flex;
  justify-content: center;
  margin: 0;
}

#game {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#header {
  background-color: #4a752c;
  padding: 1rem;
  padding-bottom: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  line-height: 2rem;
}

#board {
  background-color: #4a752c;
  padding: 1rem;
}

canvas {
  max-width: 30rem;
}
